<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <div class="pokemon-container">
            <div class="pokemon-card">
                <h1 class="pokemon-name">Pokemon name</h1>
                <img class="pokemon-image" src="{{ url_for('images', filename='placeholder-espion.png') }}">
                <p>Index Num</p>
                <p>Type:</p>
                <p>Strengths <span class="Strengths">Loading...</span></p>
                <p>Weaknesses <span class="Weaknesses">Loading...</span></p>
            </div>
        </div>

        <div class="pokemon-stat-container">
            <div class="pokemon-stat-text">
                <p>HP: <span class="health">Loading...</span></p>
                <p>ATK: <span class="attack">Loading...</span></p>
                <p>SP.ATK: <span class="spec-atk">Loading...</span></p>
                <p>DEF: <span class="defence">Loading...</span></p>
                <p>SP.DEF: <span class="spec-def">Loading...</span></p>
                <p>SPD: <span class="speed">Loading...</span></p>
            </div>
        </div>
    </main>
</body>
</html>
